{% block content %}
<div class="DarkF_Block brd">
        <div class="start">
            <h2 class="right_h2 Dark_h2">Dark Fantasy</h2>
        </div>
        <div class="right_text text_DarkF">
            <p>Тёмное фэнтези (dark fantasy) — поджанр фэнтези, содержащий элементы готики и ужасов. Граница между жанрами тёмного фэнтези и готических ужасов очень условна. И там, и там описывается мистический мир сверхъестественного и преобладает мрачная, «тёмная» атмосфера. Тёмное фэнтези может сильно отличаться от других поджанров фэнтези, по антуражу скорее приближаясь к ужасам. Тем не менее, для порядка принято считать, что если основная цель ужасов — напугать читателя/зрителя, то тёмное фэнтези — это в первую очередь сюжет и атмосфера, а ощущение страха нужно лишь для нагнетания этой самой атмосферы. Кроме того, в тёмном фэнтези обязателен проработанный мир, в то время как в жанре ужасов он может оказаться довольно условным.</p>
        </div>
</div>
{% endblock %}