{% block content %}
<div class="Detect_Block brd">
        <div class="start">
            <h2 class="Det_h2 left_h2">Detective</h2>
        </div>
        <div class="start_text Detect_tetx">
            <p>Детекти́в (от лат. detectio — раскрытие, англ. detect — открывать, обнаруживать; detective — сыщик) — преимущественно литературный и кинематографический жанр, произведения которого описывают процесс исследования загадочного происшествия с целью выяснения его обстоятельств и раскрытия загадки. Обычно в качестве такого происшествия выступает преступление, и детектив описывает его расследование и определение виновных, в таком случае конфликт строится на столкновении справедливости с беззаконием, завершающемся победой справедливости. </p>
        </div>
</div>
{% endblock %}