{% extends "mainPage/harvesting.html" %}
{% block content %}
{% include "mainPage/head.html"%}
<body class="regist_block">    
    <div class="usbrd" >
            <p   class="registr_tetx" >Добро пожаловать в книжный интернет-магазин Book Life!
                    <br>
                    Купить книгу в нашем магазине очень просто, введите в поисковом поле название произведения или автора. В открывшемся окне вы сможете ознакомиться с описанием и быстро оформить покупку. Особое внимание обратите на цену и условия доставки, которые нас выгодно отличают от других книжных магазинов Украины.
                    <br>
                    Интернет-магазин Book Life работает напрямую с издательствами и гарантирует оригинальность предоставляемых изданий, соответствующий формат и качество печати.
                    <br>
                    Поместите Book Life ★ в закладки браузера и следите за последними обновлениями каталога книг ❤
                    <br>
                    Прием заказов по телефону осуществляется Вт-Сб 9:00-17:00
                    <br>
                    Курьерская доставка книг по Киеву бесплатна при заказе на сумму больше 1000 гривен!
                    <br>
                    Доставка Укрпочтой по Украине стоит 25 гривен, при заказе на сумму больше 500 гривен - бесплатно!</p>
                    <form  method="POST">
                        {% csrf_token %}
                        {{userform.as_p}}
                        <div>
                            <button class="button" type="submit">Отправить</button>
                        </div>
                        <p> {{skid}}</p>
                    </form>
            
    </div>
    
</body>
{% endblock %}